.depositions-container-1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding: 3% 5%;
  height: 100vh;
}

.depositions-container-2 {
  display: flex;
  position: relative;
  align-self: flex-start;
}

.depositions-button {
  width: 20%;
  padding: 10px;
  border: none;
  border-radius: 30px;
  background-color: var(--green-paliar);
  color: var(--green-light-paliar);
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.2s;
}
