.lobby-patient-schedule-modal {
  border: none;
  border-radius: 30px;
  padding: 20px;
  width: 30%;
  height: 60%;
  background-color: var(--green-light-paliar);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ajustado para um sombreamento mais visível */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; /* Garante que o modal esteja acima de outros elementos */
  outline: none; /* Remove o contorno padrão do elemento dialog */
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.lobby-patient-schedule-container-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 80%;
}

.lobby-patient-schedule-container-1 h1 {
  color: var(--green-paliar);
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.lobby-patient-schedule-container-1 p {
  color: var(--brown-paliar);
  font-size: 1.5rem;
  text-align: justify;
  display: flex;
  justify-content: space-between;
}

.lobby-patient-schedule-container-1 input {
  padding: 0.5rem;
  font-size: 1.5rem;
  border: 1px solid var(--green-paliar);
  border-radius: 30px;
  outline: none;
  color: var(--green-paliar);
}

.lobby-patient-schedule-container-1 button {
  background-color: var(--green-paliar);
  color: var(--green-light-paliar);
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.lobby-patient-schedule-container-1 button:hover {
  background-color: var(--brown-paliar);
}
