/* Tailwind Configuration */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Color Pallete  */
:root {
  --green-paliar: #738a5d;
  --green-light-paliar: #dbecdf;
  --brown-paliar: #766b6a;
}

::-webkit-scrollbar {
  width: 0px;
}

.green-paliar {
  color: var(--green-paliar);
}

.green-light-paliar {
  color: var(--green-light-paliar);
}

.brown-paliar {
  color: var(--brown-paliar);
}
