.calendar-container {
  border: none;
  border-radius: 30px;
  padding: 20px;
  width: 40%;
  max-height: 80vh; /* Ajuste a altura máxima para ocupar até 80% da altura da viewport */
  background-color: var(--green-light-paliar);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--green-paliar);
  overflow-y: auto; /* Barra de rolagem vertical quando o conteúdo ultrapassa o limite */
}

.calendar-list {
  flex: 1; /* Permite que a lista ocupe o espaço disponível */
  width: 100%;
  overflow-y: auto; /* Barra de rolagem na lista */
}

.calendar-close-btn {
  background-color: var(--green-paliar);
  color: var(--green-light-paliar);
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  height: 40px;
  margin-top: 1rem; /* Adiciona espaço acima do botão */
}

.calendar-item {
  display: flex;
  justify-content: center;
  padding: 10px;
  border-bottom: 1px solid var(--green-paliar);
  gap: 1rem;
}

.calendar-item strong {
  flex: 0.1;
}

.calendar-item span {
  flex: 0.9;
}

.calendar-item:last-child {
  border-bottom: none;
}
