/* Estilos para o modal */
.login-modal {
  border: none;
  border-radius: 30px;
  padding: 20px;
  width: 500px;
  max-width: 90%;
  background-color: var(--green-light-paliar);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ajustado para um sombreamento mais visível */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; /* Garante que o modal esteja acima de outros elementos */
  outline: none; /* Remove o contorno padrão do elemento dialog */
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

/* Estilos para a imagem */
.login-image {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem; /* Adiciona espaço abaixo da imagem */
}

/* Estilos para os inputs e botões */
.login-input {
  width: 100%;
  height: 40px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--green-paliar);
  font-size: 16px;
  outline: none;
  border-radius: 30px;
}

.login-button,
.close-button {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 30px;
  background-color: var(--green-paliar);
  color: var(--green-light-paliar);
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.2s;
}

.login-button:hover,
.close-button:hover {
  background-color: var(--brown-paliar);
}
