.lobby-patient-registration-container-1 {
  display: flex;
  flex-direction: row;
  height: 95%;
  width: 95%;
  gap: 1rem;
}

.lobby-patient-registration-container-2 {
  height: 95%;
  width: 50%;
  overflow: auto;
}

.lobby-patient-registration-container-2 form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid var(--green-light-paliar);
  border-radius: 30px;
  background-color: var(--green-light-paliar);
  color: var(--green-paliar);
  align-items: center;
  height: 100%;
}

.lobby-patient-registration-container-2 form input {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 1px solid var(--green-paliar);
  border-radius: 30px;
  outline: none;
}

.lobby-patient-registration-container-2 form input::placeholder {
  color: var(--green-paliar);
}

.lobby-patient-registration-container-2 button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 250px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 30px;
  background-color: var(--green-paliar);
  color: var(--green-light-paliar);
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.lobby-patient-registration-container-2 button:hover {
  background-color: var(--brown-paliar);
}

.lobby-patient-registration-container-3 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid var(--green-light-paliar);
  border-radius: 30px;
  background-color: var(--green-light-paliar);
  color: var(--green-paliar);
  width: 50%;
  height: 95%;
  overflow: auto;
}

.lobby-patient-registration-refresh-btn {
  padding-left: 7px;
}

.lobby-patient-registration-container-3 table {
  width: 100%;
  font-size: 1.2rem;
  text-align: center;
}

.lobby-patient-registration-container-3 tbody {
  border-top: 1px solid var(--green-paliar);
}

.lobby-patient-registration-container-3 td {
  padding: 10px;
  border-bottom: 1px solid var(--green-paliar);
}
